{% extends "mobile/base.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
	.background{
		background-image: none;
	}
</style>

<section class="work-scection">
	<div class="space-from-top">
		<h1>Work</h1>
	{% for project in work%}
	<a href="/works/{{project.slug}}/" class="project">
		<div class="text-content">
		<h2>{{project.title}}</h2>
		<h3>{{project.subtitle}}</h3>
		</div>
		<img src="{% static "uploads/"%}{{project.image}}">

	</a>
	{% endfor %}
	</div>



</section>
{% endblock %}

{% block work %}
	active-link
{%endblock%}

